
<%- include('../partials/head', { title: 'Dados da pesquisa' }) %>
<%- include('../partials/nav-bar') %>

  <div class="container" style="margin-block: 7rem;">
    <h2>Resultados da Pesquisa para "<%= searchTerm %>"</h2>
    
    <% if (message) { %>
      <p><%= message %></p>
    <% } else if (articles.length > 0) { %>
      <div class="row">
        <% articles.forEach(article => { %>
          <div class="col-md-4 mb-3">
            <div class="card mt-3">
              <div class="card-body">
                <h5 class="card-title"><%= article.title %></h5>
                <p class="card-text"><%= article.body.substring(0, 100) %>...</p>
                <p class="card-text"><small class="text-muted">Categoria: <%= article.category ? article.category.title : 'Sem categoria' %></small></p>
                <a href="/articles/<%= article.slug %>" class="btn btn-primary">Ler mais</a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>

      <!-- Paginação -->
      <nav aria-label="Paginação" class="mt-5">
        <ul class="pagination justify-content-center ">
          <% if (hasPrev) { %>
            <li class="page-item">
              <a class="page-link" href="/articles/search?q=<%= searchTerm %>&page=<%= page - 1 %>">Anterior</a>
            </li>
          <% } %>
          <li class="page-item disabled">
            <span class="page-link">Página <%= page %> de <%= totalPages %></span>
          </li>
          <% if (hasNext) { %>
            <li class="page-item">
              <a class="page-link" href="/articles/search?q=<%= searchTerm %>&page=<%= page + 1 %>">Próxima</a>
            </li>
          <% } %>
        </ul>
      </nav>
    <% } %>
  </div>

  <%- include('../partials/footer') %>
  <%- include('../partials/rodape') %>
